.form-item {
  .form-item-label {
    color: #999;
  }
  .form-item-value {
    flex: 1;
  }
}
.flex {
  display: flex;
  gap: 0px;
}

.form-invitecode {
  cursor: pointer;
}
.btn-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.btn-flex {
  display: flex;
  gap: 4px;
}

.btn-disabled {
  $primary-color: #722ed1;
}
